.filters {
  position: absolute;
  left: 0;
  top: 20%;
  margin: 2rem; }
  .filters__heading {
    margin-bottom: 2rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center; }
  .filters__list {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    margin-left: 1rem; }
    .filters__list__item {
      display: inline-block;
      text-align: center;
      width: 4rem;
      height: 4rem;
      line-height: 4rem;
      color: #fff;
      background-color: #2e2e2e;
      border: 1px solid #fff;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      margin: 1rem 2rem;
      cursor: pointer; }
      .filters__list__item:hover {
        color: #2e2e2e;
        background-color: #fff; }
      .filters__list__item--active {
        color: #fff;
        background-color: #36f;
        border: 1px solid #36f; }
