.checkout {
    &__summary {
        display: flex;
        flex-wrap: wrap;
        margin: 0 1rem;
    }

    &__price {
        display: inline-block;
        background-color: #cac6c6;
        font-size: 2rem;    
        padding: 2rem;
        float: right;
        margin: 2rem;
        &__header{
            display: inline-block;
            font-size: inherit;
            margin-right: 1rem;
        }

        &__value{ 
            display: inline-block;
           font-weight: 700;
        }
    }
}