.nav {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%); }
  .nav__item {
    margin: 2rem;
    font-size: 1.8rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-align: center; }
