.product {
  display: inline-block;
  position: relative;
  height: 42rem;
  width: 25rem;
  padding: 2rem;
  margin: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px; }
  .product__image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    height: 24rem;
    width: 20rem; }
  .product__info {
    position: absolute;
    top: 26rem;
    padding-top: 1rem; }
    .product__info__price {
      font-size: 1.4rem; }
  .product__add {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: #2e2e2e;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer; }
  .product__cta {
    position: absolute;
    width: 11rem;
    bottom: 1rem;
    right: 1rem; }
    .product__cta__add {
      right: 0; }
    .product__cta__quantity {
      position: absolute;
      left: 50%;
      bottom: 50%;
      transform: translate(-50%, -50%);
      line-height: 2rem;
      font-weight: 700; }
    .product__cta__subtract {
      left: 0; }

.cta-btn {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  bottom: 0;
  background-color: #2e2e2e;
  color: #fff;
  border: none;
  cursor: pointer; }
