@import '../../sass/mixin.scss';


.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 30rem;
    background-color: #2e2e2e;
    z-index: 4000;
    @include respond(phone) {
        display: none;
    }
    
    .sidebar__divider {
        position: relative;
        height: 1px;
        background-color: rgba(255,255,255,0.3);
        top: 45%;
        z-index: 500;
        width: 80%;
        margin: 0 auto;
    }

    &__toggle {
        width: 40rem;
        display: none;
        left: -40rem;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;

        @include respond(phone) {
            display: block
        }

        &-open {
            left: 0rem;
        }
        &__btn {
            position: absolute;
            display: inline-block;
            left: 40rem;
            padding: 1.5rem;
            font-size: 3rem;
            background-color: #2e2e2e;
            color: #fff;
            border: none;
            cursor: pointer;
            &:hover {
                background-color: #eee;
                color: #000;
            }
            &:focus {
                outline: none;
            }
        }
    }

}