* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

/* global classes */

.btn-large {   
  border: none;
  padding: 2rem 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-large:active, .btn-large:focus {
  outline: none;
}

.btn-large:disabled {
  cursor: not-allowed;
  background-color: #969696;
}