.cart-item {
  display: block;
  background-color: #e0e0e0;
  color: #000;
  display: flex;
  margin: 2rem; }
  .cart-item__image {
    width: 10rem;
    height: 10rem; }
  .cart-item__info {
    padding: 1rem; }
    .cart-item__info__title {
      font-weight: 600; }
    .cart-item__info__quantity {
      display: block; }
    .cart-item__info__price {
      display: block;
      margin-top: 1.8rem; }

.header {
  font-weight: 600; }
